ConnectionStrings:DefaultConnection=Host=tu_host;Database=tu_db;Username=tu_usuario;Password=tu_password;SSL Mode=VerifyFull;Channel Binding=Require;
ConnectionStrings:DeveloperDbConnection=Host=tu_host;Database=tu_db;Username=tu_usuario;Password=tu_password;SSL Mode=VerifyFull;Channel Binding=Require;
AllowedOrigins=http://localhost:5173,https://tusitio.com
